* {
  padding: 0;
  margin: 0;
}
.playCanvas {
  background: white;
  border: 2px solid black;
  display: block;
  margin: 0 auto;
}
.editorCanvas {
  background: white;
  border: 2px solid black;
  display: block;
  margin: 30px auto auto 30px;
  float:left;
}
.movebuttons {
  width: 50px;
  height: 50px;
}
.story {
  margin: 20px 50% auto 50px;
}
.palette {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-auto-rows: 30px;
  border: 2px solid black;
  width: 90px;
}
.copyarea {
  font-size: 1px;
}
